header {
  font-weight: bold;
  font-size: 2rem;
}
code {
  background-color: lightgray;
}

body {
  margin-left: 10%;
  font-family: arial;
}

section{
  margin: 5% 0;
}
#navbar {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  z-index: 1;
  background-color: lightgray;
  padding-top: 1%;
}

#navbar a{
  display: block;
  padding: 20% 10%;
  text-decoration: none;
  text-align: left;
  margin-left: 10%;
}
